{% extends "login.html" %}


        {% block navbar %} <h2>Login </h2>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #6EF913">
            <a class="navbar-brand " href="#">IndianPropertybuy/sell</a>
            <div class="signup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active signup" >
                        <button class="btn btn-outline-success my-2 my-sm-0 logout" > <a href="/signup_user/" class="nav-link"  style="text-decoration:none;color: black" >SignUp</a></button>
                        <button class="btn btn-outline-success my-2 my-sm-0 logout logut1"><a href="/login_user/"  class="nav-link"  style="text-decoration:none;color: black" > Login</a></button> &nbsp;&nbsp;&nbsp;
                    </li>
                </ul>
            </div>            
        {% endblock  %}  
<!-- {% block title %}{% endblock %} -->
{% block content %}

<h1>Reset your password</h1>
{% if validlink %}

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Please enter your new password twice. 
           So we can verify you typed it in correctly.</p>

        <p>
            {{ form.new_password1.errors }}<br/>
            New Password  &nbsp&nbsp&nbsp   : {{ form.new_password1 }}
        </p>

        <p class="button-height">
            {{ form.new_password2.errors }}<br/>
           Confirm  Password :&nbsp{{ form.new_password2 }}
        </p>
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid, 
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %}

    <button type="submit">Change my password</button>
</form>
{% else %}
<p>
	The password reset link was invalid, possibly because it hasalready been used. Please request a new password reset.
</p>
{% endif %}
{% endblock %}