{% extends "login.html" %}


        {% block navbar %} <h2>Login </h2>

	      <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #6EF913">
            <a class="navbar-brand " href="#">IndianPropertybuy/sell</a>
            <div class="signup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active signup" >

                       <button class="btn btn-outline-success my-2 my-sm-0 logout" > <a href="/signup_user/" class="nav-link"  style="text-decoration:none;color: black" >SignUp</a></button>
                          <button class="btn btn-outline-success my-2 my-sm-0 logout logut1"><a href="/login_user/"  class="nav-link"  style="text-decoration:none;color: black" > Login</a></button> &nbsp;&nbsp;&nbsp;
                       
                    </li>
                </ul>
            </div>            
        {% endblock  %}  
<!-- {% block title %}Reset your password{% endblock %} -->
{% block content %}
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="POST">
{% csrf_token %}	
<div ><b><i> {{ form.as_p }}</i></b></div>
<p><input type="submit" value="Send e-mail"></p>
{% csrf_token %}
</form>
<!-- <style type="text/css">
	form.as_p{
		  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	}
</style> -->
{% endblock %}