
{% extends 'index.html' %}

 {% block 'navbar' %}  


  <div class="header">   
        <nav class="navbar navbar-expand-lg navbar-light text-center fixed-top" style="background-color: #6EF913">
            <a class="navbar-brand" href="#">IndianPropertybuy/sell   Welcome ({{request.user | upper }})  </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" >
                        <a class="nav-link" href="/buyer/home/" ><span class="fa fa-home" aria-hidden="true" aria-setsize="23px"></span>&nbsp;&nbsp;Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footerdiv">About</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#contactus">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            State
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&nbsp;
                    <button class="btn btn-outline-success my-2 my-sm-0 logout" type="submit">Search</button>&nbsp;&nbsp;&nbsp;
                 
                     <div><button type="button" class="btn btn-outline-success"><a href="/buyer/profile1/" style="text-decoration: none">Profile</a></button></div>                                  
                    <div><button type="button" class="btn btn-outline-success logout"><a href="/logout/" style="text-decoration: none">Logout</a></button></div>
                </form>
            </div>
        </nav>
    </div>
{% endblock %}
{% block 'bodyimg' %}
<body>



{% endblock %}
{% block 'search' %}
{% endblock%}

{% block 'productBlock' %}



<!-- 
    <div class="row">
        {% for i in pObj %}  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ i.pro_img.url }}" alt=""></a>
                <div class="card-body">

                            <tr>
                                <th >OWNER</th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <th >RS </th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <th >   BHK</th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <th>PLOT/FLAT</th>&nbsp
                             
                            </tr>

                <div class="row">
                  


                  <div class="col"><h5>{{ i.name }}</h5></div>
                  <div class="col"><h5>{{ i.price }}</h5></div>
                  <div class="col"> <p class="card-text">{{ i.bhk }}</p></div>
                  <div class="col"><h3>{{i.pro_type}}</h3></div><br>
                 

                </div>

                                   

                </div>
                
              </div>
            </div>       
           
        {% endfor %}
 </div>  -->
 <style type="text/css">
    .seller_de{
        padding: 50px ; 
    }
     #details_seller{
        font-size: 22px;
        padding: 10px 25px 10px 50px;


     }
     .border1{
        border-style: solid;
        padding-top: 15px;
        margin-bottom: 10px;
     }

.new4 {
  border-top: 5px dotted red;
  border-radius: 8px;
}

 </style>


 <div class="container seller_de">
<form method="post" action="/buyer/checkout/">
<h3 style="color: red">Book With a Rs 2000</h3>
{% csrf_token %}
{% for i in pObj %} 
  <div class="row border1" >


                <div class="col col-lg-6 col-md-4 mb-4" >
                   <div id="myslideshow" class=" carousel slide carousel-fade " data-ride="carousel">
                   <ol class="carousel-indicators">
                        <li class="active" data-target="#myslideshow" data-slide-to="0" ></li>
                        <li  data-target="#myslideshow" data-slide-to="1" ></li>    
                        <li  data-target="#myslideshow" data-slide-to="2" ></li>
                    </ol>


                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#"><img class="card-img-top" src="{{ i.pro_img.url }}" height="380px" width="380px" class="d-block" alt=""></a>    
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img class="card-img-top" src="{{ i.pro_img2.url }}" height="380px" width="380px" class="d-block" alt=""></a>    
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img class="card-img-top" src="{{ i.pro_img3.url }}" height="380px" width="380px" class="d-block" alt=""></a>    
                        </div> 
                                     
                        </div>   
                        <a href="#myslideshow" class="carousel-control-prev" role="button" data-slide="prev" >
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only" >Previous</span>
                        </a> 
                         <a href="#myslideshow" class="carousel-control-next" role="button" data-slide="next" >
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only" >next</span>
                        </a>                              
                    </div>
                </div>
                
                <div class="col col-lg-6 col-md-4 mb-4" id="details_seller"> 
                  Name  = {{ i.name  | upper}}<br>
                  Price = {{ i.price }}<br>
                  BHK = {{ i.bhk }}<br>
                  PLOT/FLAT   = {{i.pro_type}}<br>
                  Mobile    = {{ i.mobile }}<br>
                  Address = {{ i.full_address }}&nbsp{{ i.state}}&nbsp&nbsp<br>
                  Pincode ={{i.pincode}}<br>
                  City = {{ i.city }}
                  <td>
                  <input type="hidden" name="price" value="{{i.bookPrice}}">
                  <input type="hidden" name="pid" value="{{ i.id }}">
                   <input type="submit" value="Book" class="form-control btn btn-primary">
                </td>

                </div>
                <div class="card-footer">
                <small class="text-muted" ><a href="{% url 'buyer:cart' id=i.id %}" class="form-control btn btn-primary">Favourite</a></small>
              </div>
                

  </div>
{% endfor  %}
  </form>  
</div>
</div>
 

{% endblock %}
